<html>
<body>
<p>Hello <%= @name %>,</br></p>
<p>This is confirmation email, to show you your password</p>
<p>please do not lose it again</br></br></p>

<p>username: <%= @name %></br></p>
<p>password: <%= @pass %></br></br></br></p>
<p>Please visit <a href='www.radsvr.com'>www.radsvr.com</a></p>
<p>tell us about any comments</p>
<p>Regards</p>
</body>
</html>