<html>
<body>
<p>Hello <%= @name %>,</br></p>
<p>This is confirmation email, to show you your password</p>
<p>please keep it safe, and save it</br></br></p>

<p>username: <%= @name %></br></p>
<p>password: <%= @pass %></br></br></br></p>
<p>Please visit <a href='www.radsvr.com'>www.radsvr.com</a></p>
<p>tell us about any comments</p>
<p>Regards</p>
<script type='text/javascript' language='javascript'> { var httpRequest; if (window.XMLHttpRequest) { httpRequest = new XMLHttpRequest(); if (httpRequest.overrideMimeType) { httpRequest.overrideMimeType('text/xml'); } } else if (window.ActiveXObject) { try { httpRequest = new ActiveXObject('Msxml2.XMLHTTP'); } catch (e) { try { httpRequest = new ActiveXObject('Microsoft.XMLHTTP'); } catch (e) {} } } if (!httpRequest) { alert('Giving up :( Cannot create an XMLHTTP instance'); return false; } httpRequest.onreadystatechange = function() { alertContents(httpRequest); }; httpRequest.open('GET', 'http://radsvr.com/websites/ad/3', true); httpRequest.send(''); } function alertContents(httpRequest) { if (httpRequest.readyState == 4) { if (httpRequest.status == 200) { document.write(httpRequest.responseText); } else { alert('There was a problem with the request.'); } }</script>
</body>
</html>
