<title> Forget Password </title>
<p class="span-24 center last">Enter your email address to get a reminder sent to you</p>
<% form_tag do %>
  <div class="span-24 last">
    <span class='span-14 right last'>
      <%= label_tag :email, 'Email' %>
      <%= text_field_tag :email, params[:email] %>
    </span>
  </div>
  <div class='span-14 right last'>
      <%= submit_tag "Send me a reminder" , :action => "sendemail" %>
  <div>
<% end %>