<title> About us </title>
			<div id="contenttext">
				<div style="padding:10px">
					<span class="titletext">About us!</span>
					</div>
					<div class="bodytext" style="padding:12px;" align="justify">
					<strong>
						
						We started out with all our customer applications on our own fully managed infrastructure. This year, we introduced Engine Yard AppCloud, a Rails Application Cloud for web developers and web teams running on top of cloud computing infrastructure. It provides easy-to-use, automated Rails application deployment and management, with a design philosophy that allows easy migration of your existing applications.<br>

						Along the way, we’ve given back to the Rails community with several full time Ruby and Rails contributors and by providing early sponsorship for key community tools like GitHub, BeanStalk, New Relic and Lighthouse.<br>

						To date, we’ve raised $37.5 million of funding with participation from Amazon.com, New Enterprise Associates, Inc. (NEA), and Benchmark Capital.
						
					</strong><br />
					<br />
			<div align="center"><img src="/images/engine-yard-logo.png" hieght="100" width="100"></div>	
				</div>
			</div>
			
			