
		<title> Welcome to AdServer Website </title>
		
	
				<div id="contenttext">
					<div style="padding:10px">
						<span class="titletext">Welcome to AdServer!</span>
						</div>
						<p style="color: green"><%= flash[:notice] %></p>
						<div class="bodytext" style="padding:12px;" align="justify">
						<strong>The Ruby Ad Server Project has two goals. The first goal is to create an educational project that will benefit an Engine Yard Intern. The second goal is to build a simple Ad Server that can deliver ad content to a constellation of affiliated Engine Yard and Ruby websites.</strong><br />
						<br />
				<div align="center"><img src="/images/engine-yard-logo.png" hieght="150" width="150"></div>	
					</div>
				</div>
				
				