<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="author" content="Wink Hosting (www.winkhosting.com)" />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="stylesheet" href="/images/style1.css" type="text/css" />
	<title> Welcome to AdServer Website </title>
</head>
<body>
<div id="wrap">

<div id="top"></div>

<div id="content">

<div class="header">
<h1>Ad Server</h1>
<h2><a href="http://engineyard.com" target="_blank"> Engine Yard</a></h2>
</div>

<div class="breadcrumbs">
<a href="http://radsvr.com">Home</a> &middot; <a href="/admin/login">Log in</a> &middot; <a href="mailto:amustafa@engineyard.com?subject=Need%20Username&body=Hello%20Sir%0A%0AI%20want%20username%20from%20type%20publisher%20or%20advertiser!">Email Me</a> &middot; <%= link_to "Admin", :controller => "users", :check => 'yes' %> &middot; <a href="/session/index">Theme</a> &middot; 
</div>

<div class="middle">
			
<h2>Welcome to AdServer!</h2>
			
The Ruby Ad Server Project has three goals. The first goal is to create an educational project that will benefit an Engine Yard Intern. The second goal is to build a simple Ad Server that can deliver ad content to a constellation of affiliated Engine Yard and Ruby websites.. You can see  
<a href="http://engineyard.com">Engine Yard</a> live.
<br /><br />
<img src="/images/logo.gif" alt="Preview of Minimalistic Template" />
 		
</div>
		
<div class="right">
		
<h2>Friends</h2>

<ul>
<li><a href="http://engineyard.com"target="_blank">Engine Yard</a></li>
<li><a href="http://railsdispatch.com"target="_blank">Rails Dispatch</a></li>
<li><a href="http://railsdirectory.com"target="_blank">Rails Directory</a></li>
<li><a href="http://peertester.com"target="_blank">Peer Tester</a></li>
<li><a href="http://jruby.org"target="_blank">JRuby</a></li>
<li><a href="http://railsplugins.com"target="_blank">Rails Plugins</a></li>
</ul>
		
</div>

<div id="clear"></div>

</div>

<div id="bottom"></div>

</div>

<div id="footer">
Design by <a href="http://engineyard.com"target="_blank">Engine Yard</a>
</div>

</body>
</html>