
	<title> Our Services </title>

			<div id="contenttext">
				<div style="padding:10px">
					<span class="titletext">Our Services!</span>
					</div>
					<div class="bodytext" style="padding:12px;" align="justify">
					<strong>
						The Ruby Ad Server will support the following roles:<br><br>
						Advertiser User<br>
						o Uploads ad content for publishers<br>
						o Chooses which publishers can see ad content<br>
						o Views metrics for his/her ad content<br><br>
						Publisher User<br>
						o Chooses what ad content to display<br>
						o Gets HTML Embed code for his / her website<br>
						o Views metrics for his/her website<br><br>
						Administrator<br>
						o Can add, edit, or delete users<br>
						o Can assume any Advertiser or Publisher account<br><br>
						If you want to get account please send request to:<br>
						amustafa@engineyard.com<br>
						show which type of user you want, then you will get the notification<br>
					</strong><br />
					<br />
			<div align="center"></div>	
				</div>
			</div>
			
		