<html>
	<head>
		<title> Welcome to AdServer Website </title>
	</head>
	<body>
		<center>HOME PAGE</center>
		<h1> If You Are user, Please try to login <a href="/admin/login">here</a>...</h1>
		<h3> If You Are new, Please try to 
<a href="mailto:amustafa@engineyard.com?subject=Need%20Username&body=Hello%20Sir%0A%0AI%20want%20username%20from%20type%20publisher%20or%20advertiser!">here</a> the admin of the website to make you an user! <h3>
	<h5> If You Are admin, Please try to login <%= link_to "here", :controller => "users", :check => 'yes' %>...</h5>
	</body>
</html>