  <!DOCTYPE html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  	<link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen, projection">

  </head>
  <body>   
    <div class="container">
      <div class="span-24 last">
        <span class="span-16">
          <h1>Ad-Server</h1>
    	  </span>
    	  <span class="span-8 last right">
    	    <a href="/">Home</a> | 
      	  <% if params[:id] && @user = User.find(params[:id]) %>
        	  <%= link_to @user.name, :controller => 'admin', :action => 'edit', :id => @user.id %> | 
        	  <a href="/admin/logout">Logout</a>
        	<% else %>   
        	   <a href="/admin/login">Login</a>
          <% end %>                                             
        </span>
      </div>
      <div class="span-24 last">
      	<p style="color: green"><%= flash[:notice] %></p>
    	</div>                    
      <div class="span-24 last">
      	<%= yield %>   
    	</div>
    </div>
  </body>
  </html></html>
